@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body {
    margin: 0;
}

header {
    /* perspective: 1px; */
    /* background-image: url(images/milky-way-2.png); */
    /* background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: black;
    width: 100vw;
    height: 100vh;

}

.logo {
    position: absolute;
    top: 85%;
    right: 0;
    left: 3%;
    bottom: 0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(images/Logo.png);
    z-index: 5;

}

.mobile-header-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(images/milky-way-2.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mobile-header-image-2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(images/milky-way-2-trees.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin-top: -1vw;
    width: 100vw;
    padding-top: 1rem;
    background: linear-gradient(black, rgb(51, 51, 51));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    grid-area: title;
    display: flex;
    justify-content: center;
    font-family: 'Square Peg', cursive;
    font-size: 50px;
    margin: 2.5vw 0 5vw 0;
    color: white;
}

#title-2 {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 243, 227);

    display: flex;
    flex-direction: column;
}

.gallery-item {
    width: 100%;
    height: 100%;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item .image .not-on-mobile {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0 2em 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(255, 243, 227, 0.712);
}

footer img {
    width: 20px;
    margin-top: 20px;
}

/* ------------------------ Lightbox ---------------------- */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#lightbox-image {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#close-button {
    color: grey;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
}

#arrow-left {
    color: grey;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 100px;
}

#arrow-right {
    color: grey;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 100px;
}

@media only screen and (min-width: 768px) {
    header {
        background-image: url(images/misty-hills.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-color: black;
        background-attachment: fixed;
        width: 100vw;
        height: 51vw;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 35% 65%;
        grid-template-areas: "title"
            "pfp";
    }

    .logo {
        position: absolute;
        top: 70vh;
        right: 0;
        left: 40%;
        bottom: 0;
        background-size: 40%;
    }

    .mobile-header-image {
        display: none;
    }

    .mobile-header-image-2 {
        display: none;
    }

    #title {
        grid-area: title;
        display: flex;
        justify-content: center;
        font-family: 'Square Peg', cursive;
        font-size: 13vw;
        margin: 2.5vw 0 5vw 0;
        color: white;
        text-shadow: 0 4px 2px black
    }

    #title-2 {
        font-family: 'Montserrat', sans-serif;
        color: lightgray;
        text-shadow: 0 2px 3px black;
        margin: 16vw 0 0 8vw;
        font-size: 2vw;
        grid-area: title;
        display: flex;
        justify-content: center;
    }

    #pfp-area {
        grid-area: pfp;
        display: flex;
        justify-content: center;
    }

    #pfp {
        display: flex;
        justify-content: center;
        background-image: url(images/pfp.png);
        background-size: 15vw;
        margin: 0 0 20vw 0;
        width: 14vw;
        height: 14vw;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 0 5px 5px black;
        transition: all .5s ease-in-out;
    }

    #pfp:hover {
        width: 10vw;
        height: 10vw;
        border-radius: 25%;
        border: none;
        background-image: url(images/instagram-logo.png);
        background-size: 10vw;
        transform: rotate(360deg);
    }

    main {
        margin-top: -1vw;
        width: 100vw;
        padding-top: 1rem;
        background: linear-gradient(black, rgb(51, 51, 51));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 65vw;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 243, 227);

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 6vw 18vw;
        grid-gap: 10px;
    }

    .gallery-item {
        width: 100%;
        height: 100%;
    }

    .gallery-item .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .gallery-item .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-item .image .not-on-mobile {
        display: block;
    }

    /* -----------------------Image Width--------------------- */
    .w-2 {
        grid-column: span 2;
    }

    .w-3 {
        grid-column: span 3;
    }

    .w-4 {
        grid-column: span 4;
    }

    .w-5 {
        grid-column: span 5;
    }

    .w-6 {
        grid-column: span 6;
    }

    /* -----------------------Image Height--------------------- */
    .h-2 {
        grid-row: span 2;
    }

    .h-3 {
        grid-row: span 3;
    }

    .h-4 {
        grid-row: span 4;
    }

    .h-5 {
        grid-row: span 5;
    }

    .h-6 {
        grid-row: span 6;
    }
}